.logo {
    width: 50px;
    height: 50px;
}

.bg-orange{
    background: #FFAD4F;
}

.bg-yellow{
    background: #FFD042;
}

.bg-darkblue{
    background: #1484B3;
}

.bg-lightblue{
    background: #4FCBFF;
}

.bg-gray{
    background: #EEEEEE;
}

.bg-black {
    background: #000000;
}
.btn{
    border-color: #1484B3;
}
.btn:hover{
    background:#1484B3;
}


.nav-link{
    text-align: center;
    color: black;
}
.nav-link:hover, .currentpage {
    background: #EEEEEE;
}
body {
    background-color: #EEEEEE;
    color: #FFFFFF;
}

.white {
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #FFAD4F;
}

.btn-details {
    width: 100px;
    background-color: #4FCBFF;
    border-color: #1484B3;
}

.btn-details:hover {
    background: #1484B3;
    width: 100px;
}

.auction-article-large img {
    width:auto;
    max-width: 90%;
    height: auto;
    max-height:300px;
    z-index: 0;
}

.auction-article-small img {
    width:auto;
    max-width: 80%;
    height: auto;
    max-height:200px;
    z-index: 0;
}

.auction-article-small {
    min-width:250px;
}

/* SIDENAVBAR */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
     color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.5rem;
    margin-left: 50px;
}

.sidenav .hoofdrubriek {
    padding: 0;
    font-size: 1rem;
    margin: 2% 1% 1% 2%;
}

.sidenav .subrubriek {
    padding: 0;
    font-size: 0.75rem;
    margin: 1%;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 1%;}
    .sidenav a {font-size: 2%;}
}

.sidenavhamburger {
    margin-top: 2%;
    margin-left: 2%;
    font-size:3rem;
    cursor:pointer;
    position: sticky; /* werkt niet :( */
    color: #FFAD4F;
}

