/*main{
min-height: 80.2vh;
}*/

.make-auction{
    background: white;
    border: #FFAD4F solid 2px;
    color: black;
}

#img-upload{
    width: 100%;
}

.btn-makeauction{
    float: right;
}

.notloggedin {
    text-align: center;
}