
/*<!--    N. Eenink, A. Salami, I. Hamoudi            -->*/
/*<!--    M. Vermeulen, D. Haverkamp & J. van Vugt    -->*/
/*<!--    HAN ICA HBO ICT - IProject, 13-06-2019      -->*/

/*main{
min-height: 80.2vh;
}*/

.make-auction{
    background: white;
    border: #FFAD4F solid 2px;
    color: black;
}

#img-upload{
    width: 100%;
}

.btn-makeauction{
    float: right;
}

.notloggedin {
    text-align: center;
}