.imageContainer{;
    height: auto;
    width: 100%;
}

.foto{
    max-width: 100%;
}

.veiling-details{
    border: #FFAD4F solid 2px;
    background: white;
}

.btn-bod{
    width: 30%;
}

.space{
    width: 5%;
}

.bod{
    border: #FFAD4F solid 1px;
    border-radius: 5px;
    background: white;
    padding: 5px 0;
    margin: 3px 8px;
}

/*Vertical line*/

.col-line {
    width: 1px;
    background-color: #e9ecef;
}

span{
    font-weight: bold;
    text-decoration: underline #FFD042;
}

.prijs{
    font-weight: unset;
    text-decoration: none;
    text-align: right;
}