.details-gebruiker, .details-veiling, .foto{
    height: 22vh;
}

.veiling-details{
    min-height: 80.2vh;
}

.btn-bod{
    width: 30%;
}

.space{
    width: 5%;
}

.bod{
    border: #FFAD4F solid 1px;
    border-radius: 5px;
    background: white;
    padding: 5px 0;
    margin: 3px 8px;
}


