/* rubrieken */

.btn-sidenav{
    width: 80%;
    text-align: left;
}

.toggle-sidenav{
    width: 20%;
}

.dropright {
    width: 90%;
    text-align: left;
}

.dropright button {
    border-style: none;
    background-color: #FFD042;
    color: black;

}

.dropright button:hover {
    background-color: #FFD042;
    color: white;
}


.dropdown-menu a {
    color: black;
    font-weight: bold;
}

.dropdown-menu a:hover {
    background-color: #4FCBFF;
    color: white;
}

.dropright .dropdown-menu {
    width: 400%;
}

.dropright .dropdown-menu a:hover {
    background: #EEEEEE;
    color: #FFD042;
}


/* RUBRIEKENMOBILE */

.rubricsmobilecontent > a {
    display: block;
    color: white;
    text-decoration: none;
}

.rubricsmobilecontent > a:hover {
    color: #FFAD4F;
}

.col-lg-2 {
    padding: 0;
}

@media only screen and (max-device-width: 575px) {
    .rubricsmobilecontent {
        font-size: 1rem;
        text-align: center;
    }
}


@media only screen and (min-device-width: 991px) {
    .rubricsmobile {
        display: none;
    }
}

/* RUBRIEKEN DESKTOP */

.desktoprubrics {
    width: 100%;
    height: 100%;
    margin: 5% 0;
    border-radius: 0 5px 5px 0;
}

.desktoprubrics > * {
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-device-width: 991px) {
    .desktoprubricsmedia {
        display: none;
    }
}


/* range filter */


.input-details {
    border: #FFAD4F 1px solid;
    color: black;
}

.range-filter {
    width: 90%;
}

